<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    類別
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{#each categories}}
    <a class="dropdown-item" href="/index?category={{this.code}}">{{this.name}}</a>
    {{/each}}
  </div>
</div>

{{#each records}}
<i class="{{this.icon}}"></i>
{{this.name}}
{{this.date}}
{{this.amount}}
<a href="/record/edit/{{this._id}}" class="btn btn-primary">修改</a>
<a href="/record/{{this._id}}/delete" class="btn btn-primary">刪除</a>
{{/each}}

<a href="/record/new" class="btn btn-primary">新增支出</a>