<form action="/record/new" method="post">
  <div class="container mt-5 px-5 py-3 input-container" style="max-width: 500px; ">
    <div class="row my-3">
      <div class="col-12 font-weight-bold text-center" style="font-size: 1.5rem;">請輸入你的支出</div>
    </div>
    {{#if unsavedData}}
    <div class="row my-1">
      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 100%;">
        <strong>Error!</strong> 請確認所有空格都已輸入並符合要求！
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    {{/if}}
    <hr />
    <div class="row my-3 mt-4">
      <div class="col-3 align-self-center text-right">名稱*：</div>
      <div class="col-8">
        <input type="text" name="name" placeholder="開銷名稱" value="{{#if unsavedData}}{{unsavedData.name}}{{/if}}"
          class="form-control">
      </div>
    </div>
    <div class="row my-2">
      <div class="col-3 align-self-center text-right">日期*：</div>
      <div class="col-8">
        <input type="date" name="date" placeholder="YYYY/MM/DD" value="{{#if unsavedData}}{{unsavedData.date}}{{/if}}"
          class="form-control">
      </div>
    </div>
    <div class="row my-2">
      <div class="col-3 align-self-center text-right">類別*：</div>
      <div class="col-8 my-2">
        <select class="form-control" class="dropdown btn brn-primary" name="category"
          value="{{#if unsavedData}}{{unsavedData.category}}{{/if}}">
          {{#each categories}}
          <option value="{{this.code}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-3 align-self-center text-right">金額*：</div>
      <div class="col-8">
        <input type="text" name="amount" placeholder="金額不得小於等於零"
          value="{{#if unsavedData}}{{unsavedData.amount}}{{/if}}" class="form-control">
      </div>
    </div>

    <div class="row my-2 mt-5 justify-content-center">
      <button type="submit" class="btn btn-primary">送出</button>
    </div>
  </div>
</form>